html {
	scroll-behavior: smooth;
}
body {
	background-color: #222;
	font-family: "Montserrat", sans-serif;
	color: white;
}
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: red;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}

/* ===================== Navbar */

.navbar {
	top: 0;
	z-index: 100;
	position: sticky;
	position: -webkit-sticky;
	width: 100%;
	box-shadow: 0 0.5rem 1.5rem rgba(172, 172, 172, 0.1);
	background-color: #222 !important;
}
.navbar-brand img {
	width: 35%;
	height: auto;
}

.navbar-nav li a {
	color: red !important;
	font-size: 25px;
}

.inactiveLink {
	pointer-events: none;
	cursor: default;
}

.navbar-nav li a:hover {
	transition: 0.05s;
	color: white !important;
}

/* ===================== JumboTron */
.jumbotron-home {
	height: 65vh;
	background-color: #191919;
	background-image: url("./images/traveler-bg.gif");
	background-position: 45% 55%;
	/* background-attachment: fixed; */
}

.j1 {
	height: 65vh;
	background-color: #191919;
	background-image: url(./images/traveler-bg.gif);
	background-position: center;
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
	background-size: cover;
}
.j1 p {
	text-align: left;
	color: white !important;
}
.lastcol img {
	border-radius: 10px;
	width: auto;
	max-width: 120px;
	height: auto;
}

.jumbotron-about {
	background-image: url("./images/gaurdians.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 65vh;
	background-position: 50% 50%;
}

/* .btn-scroll img {
	width: 70px;
	height: 70px;
	color: white;
	margin-top: 500px;
} */

.apply-a {
	padding: 15px;
	margin: 20px;
	width: 150px;
	background-color: #ce0003;
}
.apply-a:hover {
	background-color: #6f0305;
	color: white;
	border: #6f0305;
}

/* ===================== BODY */

.pvp-image img {
	width: 100%;
	height: auto;
	/* border: 1px solid white; */
	border-radius: 10px;
}

.pve-image img {
	width: 100%;
	height: auto;
	/* border: 1px solid white; */
	border-radius: 10px;
}

.pvp-row {
	text-align: right;
}

/* ===================== About  */
.card {
	color: black;
	border: none;
	position: relative;
	border-radius: 10px 10px 10px 10px;
}
.card-img-top {
	height: 480px;
	border-radius: 10px 10px 0 0;
}
/* .card:hover {
	border: 2px solid #ff10fb;
	transition: 0.6s;
	box-shadow: 0 10px 15px 0 #ff10fb, 0 10px 30px 0 #ff10fb;
} */

.card-body {
	height: 320px;
	background-color: #dcdcdc;
	border-top: 1px solid black;
	border-radius: 0 0 10px 10px;
}

.steam-logo {
	position: absolute;
	bottom: 20px;
}
.steam-logo-grey {
	bottom: 5px;
}

.steam-logo img {
	width: 50px;
	height: 50px;
}
.yt-logo {
	width: 100px !important;
	height: auto !important;
}

.h2-name-founder {
	color: #ff1493;
}
.h2-name-admin {
	color: red;
}
.our-clan-titles {
	color: red;
}
.our-clan-title-founder {
	color: #ff1493;
}
/* ===================== Footer */

.paralax-row-before-footer {
	background-image: url("./images/Destiny\ 2\ Guardians\ Banner.jpg");
	height: 50vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}

.footer-logo img {
	width: 50%;
	height: auto;
	max-width: 200px;
}

@media only screen and (max-width: 1100px) {
	.j1 {
		height: 500px !important;
	}
}

@media only screen and (max-width: 767px) {
	.j1 {
		height: 250px !important;
	}
	.j1 h1 {
		font-size: 14px;
	}
	.j1 p {
		font-size: 10px;
	}
	.j1 h3 {
		font-size: 12px;
	}
	.lastcol img {
		max-width: 40px;
	}
	.apply-a {
		padding: 5px 10px;
		margin: 0px;
		width: fit-content;
		font-size: 10px;
	}
	.paralax-row-before-footer {
		height: 30vh;
		background-attachment: inherit;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	.footer-logo img {
		max-width: 100px;
	}
}
