@page "/ourclan"

@using TravelersChosen.Data
@inject ClanMemberService ClanMemberService

@if (allMembers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="jumbotron jumbotron-about text-center">
        <div class="container">
        </div>
    </section>

    <div class="album py-5">
        <div class="container">

            <div class="row text-center pb-5">
                <div class="col-md-12">
                    <h1 class="our-clan-title-founder">FOUNDERS</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                @foreach (var founder in founders)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src=@("../images/travelers/" + founder.destinyUserInfo.membershipId + ".png") alt="Card image cap">
                            <div class="card-body text-center">
                                <h2 class="h2-name-founder">@founder.destinyUserInfo.displayName</h2>
                                <div class="d-flex justify-content-center ">
                                    <div class="steam-logo">
                                        <a target="_blank" href="https://steamcommunity.com/id/ArtemMoshkovich/">
                                            <img src=@("https://www.bungie.net" + founder.destinyUserInfo.iconPath) alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row text-center p-4">
                <div class="col-md-12 p-4 border-top">
                    <h1 class="our-clan-titles">Admin</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    @foreach (var admin in admins)
                    {
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src=@("../images/travelers/" + admin.destinyUserInfo.membershipId + ".png") alt="Card image cap">
                            <div class="card-body text-center">
                                <h2 class="h2-name-admin">@admin.destinyUserInfo.displayName</h2>
                                <div class="d-flex justify-content-center ">
                                    <div class="steam-logo">
                                        <a target="_blank" href="https://steamcommunity.com/id/DOSteveSz">
                                            <img src=@("https://www.bungie.net" + admin.destinyUserInfo.iconPath) alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row text-center p-5 ">
                <di class="col-md-12 p-4 border-top">
                    <h1 class="">TRAVELERS</h1>
                </di>

            </div>


            <div class="row">
                @foreach (var clanmember in members)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src=@("../images/travelers/" + clanmember.destinyUserInfo.membershipId + ".png") alt="Card image cap">
                            <div class="card-body text-center">
                                <h2>@clanmember.destinyUserInfo.displayName</h2>
                                <div class="d-flex justify-content-center ">
                                    <div class="steam-logo">
                                        <a target="_blank" href="https://steamcommunity.com/id/CAIVI">
                                            <img src=@("https://www.bungie.net" + clanmember.destinyUserInfo.iconPath) alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    private IEnumerable<ClanMemeber> allMembers;
    private IEnumerable<ClanMemeber> founders;
    private IEnumerable<ClanMemeber> admins;
    private IEnumerable<ClanMemeber> members;

    protected override async Task OnInitializedAsync()
    {
        await ClanMemberService.GetClanMembers();
        allMembers = ClanMemberService.ClanMembers;
        founders = allMembers.Where(x => x.memberType == 5);
        admins = allMembers.Where(x => x.memberType == 3);
        members = allMembers.Where(x => x.memberType == 2).OrderBy(x => x.destinyUserInfo.displayName);
    }
}
