@page "/"

<section class="j1 px-lg-5">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-4 col-5 text-center lastcol my-auto">
                <h3>Join Our Discord: </h3>
                <a target="_blank" href="https://discord.gg/xHnkMt">
                    <img src="./images/Discord_Red_Logo.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 col-2">

            </div>
            <div class="col-sm-4 col-5 text-center lastcol apply-section my-auto">
                <h3 class="pb-4">Apply To Our Clan: </h3>
                <a target="_blank" href="https://forms.gle/2zZWcMxcoenS7Nfa6" id="topics"
                   class="apply-a btn btn-danger my-2">Apply here</a>
            </div>
        </div>
    </div>
</section>

<div class="container lead-background">
    <div class="row text-center p-5">
        <div class="col-md-12">
            <h2>
                Welcome to the official site of the Chosen Travelers <br>Destiny 2 Clan,
                home to Guardians from all walks of life. With a focus on both PvP and PvE, we work as one to
                reach the endgame.
            </h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="row text-center py-5 px-3 CT-title-row">
        <div class="col-md-12 CT-title">
            <h2>What Chosen Travelers Focus On </h2>
        </div>
    </div>
    <div class="row pve-row border-top py-4">
        <div class="col-md-6 my-auto py-3">
            <h3>PvE</h3>
            <p>
                Destiny's sandbox is wide and varied, ranging from large-scale public events to
                playlist activities. No matter the focus, our goal as a clan is to work together to
                achieve success, bringing fellow clan members together to have a great time across
                all seasons and all holiday events.
            </p>
        </div>
        <div class="col-md-6 pve-image py-3">
            <img src="./images/pve-image.png" alt="">
        </div>
    </div>
    <div class="row pve-row py-4">
        <div class="col-md-6 pvp-text my-auto py-3 d-md-none">
            <h3>PvP</h3>
            <p>
                Whether casual Quickplay or high-intensity comp, Chosen Travelers is home to
                skilled PvP players ready and willing to support each other in the Crucible. Working
                as a six-stack or a three-stack, we push for victory as one!
            </p>
        </div>
        <div class="col-md-6 pvp-image my-auto py-3">
            <img src="./images/pvp-image.jpg" alt="">
        </div>
        <div class="col-md-6 pvp-text my-auto py-3 d-md-block d-none">
            <h3>PvP</h3>
            <p>
                Whether casual Quickplay or high-intensity comp, Chosen Travelers is home to
                skilled PvP players ready and willing to support each other in the Crucible. Working
                as a six-stack or a three-stack, we push for victory as one!
            </p>
        </div>

    </div>
    <div class="row pve-row end-game-row py-4">
        <div class="col-md-6 my-auto py-3">
            <h3>Endgame</h3>
            <p>
                Destiny 2's endgame comprises everything from three-man Grandmaster Nightfalls
                to six-man raids and, if duels are what we're after, the ultimate PvP conquest of Trials. As a
                united clan, we work together to reach the pinnacle endgame of
                Destiny 2!
            </p>
        </div>
        <div class="col-md-6 pvp-image my-auto py-3">
            <img src="./images/end-game.png" alt="">
        </div>
    </div>
</div>
<div class="container-fluid paralax-row-before-footer">
</div>



<div class="container">

    <footer class="pt-4 my-md-5 pt-md-5">
        <div class="row footer-li">
            <div class="col-12 col-md footer-logo">
                <img src="./images/logo.gif" alt="">
            </div>
            <div class="col-sm-6 col-md">
                <h5>Our Focus</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#topics">What we do</a></li>

                </ul>
            </div>
            <div class="col-sm-6 col-md">
                <h5>Discord</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a target="_blank" class="text-muted" href="https://discord.gg/xHnkMt">Join our Discord</a>
                    </li>


                </ul>
            </div>
            <div class="col-sm-6 col-md">
                <h5>Clan</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a target="_blank" class="text-muted" href="https://forms.gle/2zZWcMxcoenS7Nfa6">
                            Clan
                            Application
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p class="mb-0">All rights reserved.</p>

            </div>
        </div>
    </footer>
</div>
