<div class="container">
    <a class="navbar-brand" href="./index.html">
        <img src="./images/logo.gif" alt="">
    </a>
    <div class="row text-center main-title ml-5">
        <div class="col-md-12">
            <h1>Chosen Travelers</h1>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item li-home">
                <a class="nav-link" href="./"> Home</a>
            </li>
            <li class="nav-item"><a class="nav-link inactiveLink d-lg-block d-none" href="">|</a></li>
            <li class="nav-item li-our-clan">
                <a class="nav-link" href="./ourclan">Our Clan </a>
            </li>

        </ul>
    </div>
</div>


